.#{$prefix}page-header {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: $color-brand-lightest;
  border-bottom: 1px solid $color-neutral-lighter;

  &.has-tabs {
    padding-bottom: 0;

    .#{$prefix}nav-tabs {
      position: relative;
      top: 1px;
    }

    .#{$prefix}tag {
      margin-right: 0;
    }
  }
}

.#{$prefix}page-header-details:not(:last-child) {
  margin-bottom: 1.5rem;
}
