<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MoipApiToken" value="QXEYNX1WIEGI3VZV9IBKU0ZZQCIKU4BF" />
    <add key="MoipApiKey" value="6NU0BEALWOVLIVR4FD1FRIGTE6NONJYJOESOBT5N" />
    <add key="MoipApiAppToken" value="f079f4f0dc9147109534cf360fcb05ed_v2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>