.#{$prefix}lp-banner {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: $color-neutral-dark;

  .#{$prefix}lp-banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    min-height: 80vh;
  }

  .#{$prefix}lp-banner-form-control {
    min-height: 3.5rem;
    line-height: 3.25rem;
    border-color: $color-primary-success;
    padding: 0 1.5rem;

    @include hover-focus-active  {
      border-color: $color-primary-success;
    }
  }

  .#{$prefix}lp-banner-btn {
    height: 3.5rem;
    line-height: 3.25rem;
    padding: 0 3rem;
    font-size: 1rem;
  }

  .#{$prefix}lp-banner-slogan {
    font-weight: 700;
    font-size: 4.5rem;
    letter-spacing: -.125rem;
    line-height: .82;
    color: #fff;
    padding-bottom: 1.25rem;
  }

  .#{$prefix}lp-banner-lead {
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    padding-bottom: 3.75rem;
  }
}

.#{$prefix}lp-section-heading {
  font-size: 2.25rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.#{$prefix}lp-section-lead {
  font-size: 1.25rem;
  padding-bottom: 6rem;
}

.#{$prefix}lp-section {
  padding: 4rem 0;

  &.#{$prefix}lp-section-inverse {
    background-color: $color-brand-base;
    color: #fff;
  }

  &.#{$prefix}lp-section-white {
    background-color: #fff;
  }
}

.#{$prefix}lp-footer {
  padding: 2.5rem 0;
  background-color: $color-neutral-dark;
  color: #fff;
}

.#{$prefix}lp-icon-md {
  height: 3rem;
}

.#{$prefix}lp-icon-lg {
  height: 4rem;
}

.#{$prefix}lp-testimonial {
  background:
    linear-gradient(rgba($color-neutral-dark, .55), rgba($color-neutral-dark, .75) ),
    url("/Business-Profile-Photograph.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $color-neutral-dark;
  color: #fff;
  padding: 8rem 0;
}

@include media-breakpoint-up(md) {
  .#{$prefix}lp-section {
    padding: 6rem 0;
  }

  .#{$prefix}lp-testimonial {
    padding: 12rem 0;
  }
}
