.#{$prefix}card {
	padding: 0;
	border-radius: 3px;
	background-clip: padding-box;
	background-color: white;
	border: 1px solid $color-neutral-lighter;
	margin-bottom: $card-spacer;

	> *:first-child {
		@include border-top-radius(3px);
	}

	> *:last-child {
		@include border-bottom-radius(3px);
	}
}

.#{$prefix}card-body,
.#{$prefix}card-header,
.#{$prefix}card-footer {
  padding: $card-padding-y $card-padding-x;
}

.#{$prefix}card-block {
	padding: 0;
}

.#{$prefix}card-header {
  background-color: $card-header-bg;
  border-bottom: $card-border-width solid $card-border-color;
}

.#{$prefix}card-footer {
  background-color: $card-footer-bg;
  border-top: $card-border-width solid $card-border-color;
}
