.#{$prefix}alert {
  padding: $alert-padding-y $alert-padding-x;
  border-radius: $alert-border-radius;
  margin-bottom: $alert-spacer;
  @include alert-variant($alert-bg);
}

.#{$prefix}alert-heading {
  display: block;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
}

// Color variations

.#{$prefix}alert-success {
  @include alert-variant($alert-bg-success);
}

.#{$prefix}alert-info {
  @include alert-variant($alert-bg-info);
}

.#{$prefix}alert-warning {
  @include alert-variant($alert-bg-warning);
}

.#{$prefix}alert-danger {
  @include alert-variant($alert-bg-danger);
}
