//
// Images
//

// Avatar
.#{$prefix}avatar,
.#{$prefix}avatar-child {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background-color: $avatar-img-bg;
  border-radius: $border-radius;
  line-height: 1;

  & > img {
    width: 100%;
    height: auto;
  }

  &-circle {
    border-radius: 50%;
  }
}

.#{$prefix}avatar {
  &-xs {
    @include size($avatar-img-xs);
  }

  &-sm {
    @include size($avatar-img-sm);
  }

  &-md {
    @include size($avatar-img-md);
  }

  &-lg {
    @include size($avatar-img-lg);
  }

  &-xl {
    @include size($avatar-img-xl);
  }
}

.#{$prefix}avatar-parent {
  display: inline-block;
  position: relative;

  .#{$prefix}avatar-child {
    position: absolute;
    right: -.25rem;
    bottom: -.25rem;
    box-shadow: -2px -2px 0 rgba($body-bg, .8);

    &-xs {
      @include size($avatar-child-img-xs);
    }

    &-sm {
      @include size($avatar-child-img-sm);
    }

    &-md {
      @include size($avatar-child-img-md);
    }

    &-lg {
      @include size($avatar-child-img-lg);
    }

    &-xl {
      @include size($avatar-child-img-xl);
    }
  }
}

.#{$prefix}avatar-fluid {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    border-radius: 3px;

    &-xs {
        @include size($avatar-img-xs);
    }

    &-sm {
        @include size($avatar-img-sm);
    }

    &-md {
        @include size($avatar-img-md);
    }

    &-lg {
        @include size($avatar-img-lg);
    }

    &-xl {
        @include size($avatar-img-xl);
    }

    &-public {
        @include size($avatar-img-xl * 2);
    }

    &-circle {
        border-radius: 50%;
    }
}
