//
// Base styles
//
.#{$prefix}btn {
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  //background: 0 0;
  text-align: center;
  vertical-align: middle;
  //text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border: $btn-border-width solid transparent;
  user-select: none;
  @include button-size(
    $btn-height,
    $btn-line-height,
    $btn-padding-y,
    $btn-padding-x,
    $btn-border-radius
  );
  //@include transition(background-color .23s, border-color .23s);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .25;
  }
}

.#{$prefix}btn + .#{$prefix}btn {
  margin-left: $btn-block-spacing-y;
}

a.#{$prefix}btn.disabled,
fieldset[disabled] a.#{$prefix}btn {
  pointer-events: none;
}

select.#{$prefix}btn > option {
  background-color: #fff;
}

//
// Button Sizes
//
.#{$prefix}btn-sm {
  @include button-size(
    $btn-height-sm,
    $btn-line-height-sm,
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-border-radius
  );
}

.#{$prefix}btn-lg {
  @include button-size(
    $btn-height-lg,
    $btn-line-height-lg,
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-border-radius
  );
}


//
// Block button
//
.#{$prefix}btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.#{$prefix}btn-block + .#{$prefix}btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.#{$prefix}btn-block {
    width: 100%;
  }
}


//
// Button Colors
//
.#{$prefix}btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.#{$prefix}btn-neutral {
  @include button-variant($btn-neutral-color, $btn-neutral-bg, $btn-neutral-border);
}

.#{$prefix}btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

.#{$prefix}btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

.#{$prefix}btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

.#{$prefix}btn-destructive {
  @include button-variant($btn-destructive-color, $btn-destructive-bg, $btn-destructive-border);
}

.#{$prefix}btn-clean {
  @include button-variant($btn-clean-color, $btn-clean-bg, $btn-clean-border);
}

.#{$prefix}btn-link {
  @include button-variant($btn-link-color, $btn-link-bg, $btn-link-border);

  @include hover-focus {
    text-decoration: underline;

    &:disabled {
      text-decoration: none;
    }
  }
}
