.#{$prefix}card {
	padding: 0;
	border-radius: $card-border-radius;
	background-clip: padding-box;
	background-color: $card-bg;
	border: $card-border-width solid $card-border-color;
	margin-bottom: $card-spacer;

	> *:first-child {
		@include border-top-radius($card-border-radius);
	}

	> *:last-child {
		@include border-bottom-radius($card-border-radius);
	}
}

.#{$prefix}card-body,
.#{$prefix}card-header,
.#{$prefix}card-footer {
  padding: $card-padding-y $card-padding-x;
}

.#{$prefix}card-block {
	padding: 0;
}

.#{$prefix}card-header {
  background-color: $card-header-bg;
  border-bottom: $card-border-width solid $card-border-color;
}

.#{$prefix}card-footer {
  background-color: $card-footer-bg;
  border-top: $card-border-width solid $card-border-color;
}

// Card dashboard
@include media-breakpoint-up(sm) {
	.#{$prefix}card-dashboard {
		display: flex;
	  flex-flow: row wrap;
	  margin-left: -$card-spacer;
		margin-right: -$card-spacer;

    .#{$prefix}card {
			flex: 1 0 0;
      margin-right: $card-spacer;
      margin-left: $card-spacer;
    }
  }
}
