//
// Media
//

// Media object

.#{$prefix}media {
  display: flex;
  align-items: flex-start;

  &.#{$prefix}media-middle {
    align-items: center;
  }

  &.#{$prefix}media-bottom {
    align-items: flex-end;
  }
}

.#{$prefix}media-body,
.#{$prefix}media-block {
  flex: 1;
}

.#{$prefix}media-left {
  flex-shrink: 0;
  margin-right: .5rem;
}

.#{$prefix}media-right {
  flex-shrink: 0;
  margin-left: 1rem;
}

// Media list

.#{$prefix}media-list {
  @include list-unstyled;

  & > .#{$prefix}media {
    padding: $table-cell-padding;
  }
}

.#{$prefix}media-list-sm > .#{$prefix}media {
  padding: $table-sm-cell-padding;
}

.#{$prefix}media-list-bordered {
  & > .#{$prefix}media:not(:last-child) {
    border-bottom: $table-border-width solid $table-border-color;
  }
}

.#{$prefix}media-list-hover {
  & > .#{$prefix}media {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}
