//
// Navbar
//

.#{$prefix}navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.#{$prefix}navbar-form {
    @extend .#{$prefix}form-inline;
}

.#{$prefix}navbar-search-input {
    min-width: 16rem;
}

.#{$prefix}navbar-search-btn {
    margin-left: .5rem;
}

@include media-breakpoint-down(sm) {
    .#{$prefix}navbar-form {
        display: inherit;
    }

    .#{$prefix}navbar-search {
        padding: 2.5rem 0 .75rem;
    }

    .#{$prefix}navbar-search-input {
        margin-bottom: .25rem;
    }

    .#{$prefix}navbar-search-btn {
        margin-left: 0;
    }

    .#{$prefix}navbar-search-input,
    .#{$prefix}navbar-search-btn {
        display: block;
        min-width: 100%;
        max-width: 100%;
    }

    .nav-item {
        display: block;
        width: 100%;
        margin: .5rem 0 !important;
    }

}
