//
// Navbar
//


// Base styles
.#{$prefix}navbar {
  padding: $navbar-padding-y $navbar-padding-x;

  .#{$prefix}nav-link {
    font-weight: 600;
  }
}

.#{$prefix}navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.#{$prefix}navbar-nav-item {
  flex: 1 0 0;
  margin: 0 .75rem;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.#{$prefix}navbar-nav-item-shrink {
  flex: 0;
}


// Navbar positioning
.#{$prefix}navbar-fixed-top,
.#{$prefix}navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  z-index: $navbar-fixed-zindex;
}

.#{$prefix}navbar-fixed-top {
  top: 0;
}

.#{$prefix}navbar-fixed-bottom {
  bottom: 0;
}


// Navbar variations
.#{$prefix}navbar-primary {
  background-color: $navbar-bg-brand;

  .#{$prefix}nav-link {
    color: $navbar-color-light;
  }
}

.#{$prefix}navbar-light {
  background-color: $navbar-bg-light;

  .#{$prefix}nav-link {
    color: $navbar-color-dark;
  }
}

.#{$prefix}navbar-dark {
  background-color: $navbar-bg-dark;

  .#{$prefix}nav-link {
    color: $navbar-color-light;
  }
}
