.#{$prefix}table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $table-spacer;
  word-break: normal;
  table-layout: auto;
  background-color: $table-bg;

  th, td {
    vertical-align: top;
    padding: $table-cell-padding;
    border-bottom: $table-border-width solid $table-border-color;
  }

  th {
    color: $table-header-color;
    vertical-align: middle;
    text-align: left;
    word-break: normal;
    font-weight: 600;
  }

  thead th {
    vertical-align: middle;
  }

  tbody + tbody {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

}

//
// Condensed table w/ half padding
//

.#{$prefix}table-sm {
  th, td {
    padding: $table-sm-cell-padding;
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.

.#{$prefix}table-bordered {
  border: $table-border-width solid $table-border-color;

  th, td {
    border: $table-border-width solid $table-border-color;
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.#{$prefix}table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.#{$prefix}table-hover {
  tbody tr {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}

.#{$prefix}table-responsive {
  display: block;
  width: 100%;
  min-height: .01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;

  // TODO: find out if we need this still.
  //
  // border: $table-border-width solid $table-border-color;
  // -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

.#{$prefix}table-fixed {
  table-layout: fixed;
}

.#{$prefix}table-middle {

  th, td {
    vertical-align: middle;
  }
}