.#{$prefix}chat {
  display: flex;
  width: 100%;
  height: 650px;

  .#{$prefix}chat-list,
  .#{$prefix}chat-messages {
    position: relative;
    float: left;
  }

  .#{$prefix}chat-list { width: 33.333333%; }
  .#{$prefix}chat-messages { width: 66.666667%; }
}


//
// Chat contact list container
//
.#{$prefix}chat-list-header,
.#{$prefix}chat-list-search,
.#{$prefix}chat-list-item {
  display: block;
  margin: 0;
  padding: .75rem;
}

// ALTERAÇÕES CHAT
.horario-mensagem {
    margin-top: 0px !important;
    position: absolute !important;
    right: 0px !important;
    bottom: -15px !important;
    color: #000 !important;
}

.area-mensagem {
    margin-bottom: 1.8rem !important;
}

.painel-chat-mobile {
    margin-top: -40px;
}

.painel-chat-mobile .ilv-chat-messages {
    width: 100%;
    border-left: none;
    margin-top: 60px;
}

.painel-chat-mobile .ilv-avatar-md {
    width: 2rem;
    height: 2rem;
}

.painel-chat-mobile .ilv-chat-list-item {
    width: 3.5rem;
}

.lista-fotos-usuarios {
    position: absolute;
    width: 93%;
    overflow-x: auto;
    display: flex;
}

// *****

.new-message-indicator {
    position: absolute;
    bottom: 10%;
    left: 40%;
    background: #074377;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: small;
}

.#{$prefix}chat-list-header,
.#{$prefix}chat-list-item {
  user-select: none;
}

.#{$prefix}chat-list-header {
  border-bottom: 1px solid #DEE5EC;
}

.#{$prefix}chat-list-search {
  background-color: #F3F6F8;
  border-bottom: 1px solid #DEE5EC;
}

.#{$prefix}chat-list-item {
  cursor: pointer;
  color: inherit !important;
  text-decoration: none !important;

  &:not(:last-child) {
    border-bottom: 1px solid #DEE5EC;
  }

  &:active,
  &.active {
    background-color: #E5E9F2;

    &:hover {
      background-color: #E5E9F2;
    }
  }

  @include hover-focus {
    background-color: #F3F6F8;
  }
}

.#{$prefix}chat-list-name,
.#{$prefix}chat-list-message {
  display: block;
  margin: 0;
  padding: 0;
}

.#{$prefix}chat-list-name {
  font-weight: 600;
}


//
// Chat messages container
//
.#{$prefix}chat-messages {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #DEE5EC;
}

.#{$prefix}chat-messages-header,
.#{$prefix}chat-messages-body,
.#{$prefix}chat-messages-footer {
  margin: 0;
  padding: .75rem;
}

.#{$prefix}chat-messages-header,
.#{$prefix}chat-messages-footer {
  flex: 0 1 auto;
}

.#{$prefix}chat-messages-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

.#{$prefix}chat-messages-header {
  border-bottom: 1px solid #DEE5EC;
}

.#{$prefix}chat-messages-bubble {
    position: relative;
    display: block;
    clear: both;
    max-width: 60%;
    margin-bottom: .5rem;
    padding: .5rem;
    vertical-align: top;
    border-radius: .25rem;

    &.in {
      float: left;
      background-color: #F3F6F8;
      align-self: flex-start;
    }

    &.out {
      float: right;
      color: #fff;
      background-color: $color-brand-light;
      align-self: flex-start;
    }

    &.center {
      text-align: center;
      background-color: transparent;
      max-width: 100%;
    }
}
