//
// Typography
//

$font-family-sans-serif:       "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:            Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:        "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:             $font-family-sans-serif !default;

$font-size-root:               16px !default;

$font-size-base:               .875rem !default;
$font-size-lg:                 1rem !default;
$font-size-sm:                 .8125rem !default;
$font-size-xs:                 .625rem !default;

$line-height-base:             1.42857142857143 !default;

$font-size-h1:                 1.875rem !default;
$font-size-h2:                 1.5rem !default;
$font-size-h3:                 1.25rem !default;
$font-size-h4:                 1rem !default;
$font-size-h5:                 .875rem !default;
$font-size-h6:                 .8125rem !default;

$font-size-display-h1:         4rem !default;
$font-size-display-h2:         3.5rem !default;
$font-size-display-h3:         2.5rem !default;
$font-size-display-h4:         2rem !default;

$font-weight-display-h1:       600 !default;
$font-weight-display-h2:       600 !default;
$font-weight-display-h3:       600 !default;
$font-weight-display-h4:       600 !default;

$headings-margin-bottom:       ($spacer / 2) !default;
$headings-font-family:         inherit !default;
$headings-font-weight:         600 !default;
$headings-line-height:         $line-height-base !default;
$headings-color:               inherit !default;

$lead-font-size:               1.25rem !default;
$lead-font-weight:             400 !default;

$small-font-size:              80% !default;

$text-muted:                   $color-brand-light !default;

$abbr-border-color:            $color-brand-light !default;

$blockquote-small-color:       $color-brand-light !default;
$blockquote-font-size:         ($font-size-base * 1.25) !default;
$blockquote-border-color:      $color-brand-lighter !default;
$blockquote-border-width:      .25rem !default;

$hr-border-color:              rgba(0,0,0,.1) !default;
$hr-border-width:              $border-width !default;

$mark-padding:                 .2em !default;

$dt-font-weight:               bold !default;

$list-inline-padding:          5px !default;

$paragraph-width-base:         40rem !default;
