//
// Blankslate
//

$blankslate-font-size:                $font-size-sm !default; // Or use 75% instead
$tag-font-weight:              600 !default;
$tag-font-color:               #484848 !default;

$blankslate-border-width:      $border-width * 2 !default;
$blankslate-border-color:      $color-neutral-lighter !default;
$blankslate-border-radius:     $border-radius !default;

$blankslate-padding-x:         2rem !default;
$blankslate-padding-y:         2rem !default;

$blankslate-padding-x-sm:      .625rem !default;
$blankslate-padding-y-sm:      .625rem !default;

$blankslate-padding-x-lg:      6rem !default;
$blankslate-padding-y-lg:      6rem !default;

$blankslate-bg:                none !default;
