//
// Cards
//

$card-bg:                      #ffffff !default;
$card-header-bg:               $card-bg !default;
$card-footer-bg:               $card-bg !default;

$card-border-width:            $border-width !default;
$card-border-color:            rgba(0,0,0,.15) !default;
$card-border-radius:           $border-radius !default;

$card-padding-x:               .75rem !default;
$card-padding-y:               .75rem !default;

$card-spacer:                  $spacer !default;
