//
// Colors
//

$color-brand-dark:             #00396b !default;
$color-brand-base:             #005fb2 !default;
$color-brand-light:            #0070d2 !default;
$color-brand-lighter:          #0c8eff !default;
$color-brand-lightest:         #f5f7f9 !default;
$color-brand-inverse:          #ffffff !default;

$color-primary-brand:          $color-brand-base !default;
$color-primary-success:        #4bca81 !default;
$color-primary-info:           #654982 !default;
$color-primary-warning:        #f6c342 !default;
$color-primary-danger:         #c23934 !default;

$color-secondary-lightgreen:   #d4ece6 !default;
$color-secondary-lightblue:    #ccebf3 !default;
$color-secondary-lightyellow:  #fff2cf !default;
$color-secondary-lightred:     #f8d0c8 !default;

$color-neutral-dark:           #383f56 !default;
$color-neutral-base:           #4f6a92 !default;
$color-neutral-light:          #a7b8d1 !default;
$color-neutral-lighter:        #cfd7e6 !default;
$color-neutral-lightest:       #eef1f6 !default;
