//
// Forms
//

$form-control-color:           $body-color !default;
$form-control-bg:              #ffffff;
$form-control-bg-disabled:     $color-neutral-lighter;

$form-control-height:          2rem !default;
$form-control-height-sm:       1.75rem !default;
$form-control-height-lg:       2.5rem !default;

$form-control-border-width:    $border-width * 2 !default;
$form-control-border-color:    $color-neutral-lighter !default;
$form-control-border-radius:   $border-radius !default;

$form-control-border-hover:    $color-neutral-light !default;
$form-control-border-focus:    $color-brand-lighter !default;

$form-control-padding-x:       .375rem !default;
$form-control-padding-y:       0 !default;

$form-control-placeholder:     $color-neutral-light !default;

$form-group-margin-bottom:     1rem !default;

$form-check-radio-size:        1.25rem !default;
