$progress-height:              .5rem !default;

$progress-margin-x:            0 !default;
$progress-margin-y:            .125rem !default;

$progress-border-radius:       $progress-height / 2 !default;

$progress-bg:                  $color-neutral-lightest !default;

$progress-bar-bg:              $color-neutral-light !default;
