//
// Tags
//

$tag-font-size:                $font-size-sm !default; // Or use 75% instead
$tag-font-weight:              600 !default;
$tag-font-color:               #484848 !default;

$tag-link-hover-color:         $tag-font-color !default;

$tag-border-radius:            $border-radius !default;
$tag-pill-border-radius:       10rem !default;

$tag-padding-x:                0 !default;
$tag-padding-y:                .625rem !default;

$tag-margin-x:                 .375rem !default;

$tag-bg-base:                  $color-neutral-lighter !default;
$tag-bg-success:               $color-secondary-lightgreen !default;
$tag-bg-info:                  $color-secondary-lightblue !default;
$tag-bg-warning:               $color-secondary-lightyellow !default;
$tag-bg-danger:                $color-secondary-lightred !default;
