.breadcrumb {
  padding: 0px;
  background: transparent;
  list-style: none;
  /*overflow: hidden;*/
  overflow-y: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  > li {
    display: table-cell;
    vertical-align: top;
    /*width: 1%;*/
    + li:before {
      padding: 0;
    }
  }
  li {
    a {
      color: white;
      text-decoration: none;
      /*padding: 10px 0 10px 45px;*/
      padding: 10px 0 10px 45px;
      position: relative;
      display: inline-block;
      /*width: calc( 100% - 10px );*/
      /*width: calc( 100% - 2px );*/
      width: 100%;
      background-color: hsla(0, 0%, 83%, 1);
      text-align: center;
      text-transform: capitalize;
      white-space: nowrap;
    }
    &.completed a {
      background: brown;
      background: hsla(153, 57%, 51%, 1);
      &:after {
        border-left: 30px solid hsla(153, 57%, 51%, 1);
      }
    }
    &.active a {
      background: #ffc107;
      &:after {
        border-left: 30px solid #ffc107;
      }
    }
    &:first-child a {
      padding-left: 15px;
    }
    &:last-of-type a {
      width: calc( 100% - 38px );
    }
    a {
      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }
      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid hsla(0, 0%, 83%, 1);
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }
    }
  }
}

.breadcrumb-scroll {
  overflow: hidden;
  /*height: whatever px;*/
  &:hover, &:focus, &:active {
    overflow-x: auto;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 170, 238, 0.37);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
  }
}
