.ilv-rating {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.ilv-rating-list {
    display: flex;
    flex-direction: row-reverse;
}

.ilv-rating-item {
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
        color: gold;
    }

    &.active {
        color: gold;
    }

    &:hover,
    &:hover ~ & {
       color: gold;
    }
}

.ilv-rating-item-no-hover {
    font-size: 24px;
    line-height: 1;
    cursor: default;
    color: gold;
    user-select: none;
}

.ilv-rating-label {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin-left: 8px;
}

.center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rsr-root {
  vertical-align: middle;
  display: inline-block; }

.rsr--editing:hover {
  cursor: pointer; }

.rsr {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #e3e3e3;
  overflow: hidden; }

.rsr__stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #F5A71B;
  -webkit-transition: all 0.01s;
  -moz-transition: all 0.01s;
  transition: all 0.01s; }

.rsr__caption {
  font-size: 1.25em;
  vertical-align: middle;
  margin-right: 0.5em; }

.rsr--disabled .rsr-container:hover {
  cursor: not-allowed; }
