//
// Avatar
//

$avatar-img-bg:                $color-neutral-lightest !default;

$avatar-img-xs:                1.5rem !default;  // 24px
$avatar-img-sm:                2rem !default;    // 32px
$avatar-img-md:                3rem !default;    // 48px
$avatar-img-lg:                4rem !default;    // 64px
$avatar-img-xl:                5rem !default;    // 80px

$avatar-child-img-xs:          1rem !default;    // 16px
$avatar-child-img-sm:          1.25rem !default; // 20px
$avatar-child-img-md:          1.5rem !default;  // 24px
$avatar-child-img-lg:          1.75rem !default; // 28px
$avatar-child-img-xl:          2rem !default;    // 32px
