//
// Scaffolding
//

$body-bg:                      #fff !default;
$body-color:                   $color-neutral-dark !default;

$border-width:                 .0625rem !default;
$border-radius:                .1875rem !default;

$cursor-disabled:              not-allowed !default;

$mark-bg:                      $color-primary-warning !default;
