//
// Tables
//

$table-cell-padding:           .625rem .5rem !default;
$table-sm-cell-padding:        .25rem .5rem !default;

$table-spacer:                 $spacer !default;

$table-bg:                     #FFFFFF !default;
$table-bg-accent:              $color-neutral-lightest !default;
$table-bg-hover:               $color-brand-lightest !default;
$table-bg-active:              $table-bg-hover !default;

$table-border-width:           $border-width !default;
$table-border-color:           $color-neutral-lighter !default;

$table-header-color:           $color-neutral-base !default;
