//
// Alert
//

$alert-bg:                     $color-neutral-lightest !default;

$alert-bg-success:             $color-secondary-lightgreen !default;
$alert-bg-info:                $color-secondary-lightblue !default;
$alert-bg-warning:             $color-secondary-lightyellow !default;
$alert-bg-danger:              $color-secondary-lightred !default;

$alert-border-width:           .0625rem !default;
$alert-border-radius:          $border-radius !default;

$alert-padding-x:              .675rem !default;
$alert-padding-y:              .675rem !default;

$alert-spacer:                 $spacer !default;
