//
// Colors
//

$nav-item-padding-x:           .75rem !default;
$nav-item-padding-y:           .375rem !default;

$nav-item-margin:              .75rem !default;

$nav-link-color:               $link-color !default;
$nav-link-active:              $color-neutral-dark !default;

$nav-link-hover-color:         $link-hover-color !default;
$nav-link-hover-decoration:    $link-hover-decoration !default;

$nav-link-border-radius:       $border-radius !default;

$nav-link-bg-hover:            $color-neutral-lightest !default;

$nav-disabled-link-color:      $link-disabled-color !default;
$nav-disabled-link-hover-color:$link-disabled-hover-color !default;

$nav-header-font-color:        $color-neutral-base !default;
$nav-header-font-size:         .8125rem !default;
$nav-header-font-weight:       600 !default;

$nav-menu-link-color:          $color-neutral-dark !default;
$nav-menu-bg-active:           $color-secondary-lightblue !default;

$nav-tabs-link-color:          $color-neutral-dark !default;
$nav-tabs-link-active:         $color-neutral-dark !default;
$nav-tabs-link-active-bg:      #fff !default;
$nav-tabs-link-active-border:  $color-neutral-lighter $color-neutral-lighter transparent !default;
$nav-tabs-link-hover-color:    $color-brand-light !default;

$nav-pagination-link-color:    $nav-link-color !default;
$nav-pagination-bg-active:     $color-neutral-dark !default;

$nav-breadcrumb-separator:     $color-neutral-lighter !default;
