//
// Links
//

$link-color:                   $color-brand-light !default;
$link-decoration:              none !default;
$link-hover-color:             $link-color !default;
$link-hover-decoration:        underline !default;

$link-disabled-color:          $color-neutral-light !default;
$link-disabled-hover-color:    $color-neutral-light !default;
